.input-form {
    width: 250px;
    background-color: grey;
    border-radius: 8px;
    height: 30px;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-bottom: 1rem;
}

.input-container label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}