.input-form {
    width: 340px;
    background-color: grey;
    border-radius: 10px;
    height: 40px;
    font-size: 1.2rem;
    color: var(--primary-text)
}

.input-form.error {
    background-color: red;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-bottom: 1rem;
}

.input-container label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}