.search-icon {
    width: 30px;
    height: 30px;
    margin-right: 0.5rem;
}

.searchBar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    align-items: center;

}
.filters-container {
    width: 95vw;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top:0;
}

.filter-button {
    width: fit-content;
    padding: 0.2rem;
    font-size: 0.8rem;
    background-color: rgb(5, 218, 133);
    margin-right: 0.3rem;
}